body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  user-select: none; //запрещает выделение текста
}
.row{
  justify-content: center;
}
.text-area{
  font-size: 40px;
}
.btn{
  border-radius: 0;
}